<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871924616185-a8qijrkjlv4hvl3hcnbnqsbgqvop88rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871924616185-a8qijrkjlv4hvl3hcnbnqsbgqvop88rb</string>
	<key>API_KEY</key>
	<string>AIzaSyB7cexwVKYHYRw25dzDBhJ6Il7eTVR8y-s</string>
	<key>GCM_SENDER_ID</key>
	<string>871924616185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atarist.mynotes</string>
	<key>PROJECT_ID</key>
	<string>atarist-notes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>atarist-notes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871924616185:ios:0e69b03c935b18d91f4b28</string>
</dict>
</plist>